.centertext {
  text-align: center;
}

.topborder {
  width: 100%;
  border-spacing: 10px;
  border-bottom-width: 5px;
  border-bottom: solid red;
  background-color: white;
  box-sizing: border-box;
}

.centerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  flex: left;
}

.right {
  flex: right;
}

.selectsize {
  width: 200px;
}

.buttonsize {
  border-spacing: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}

/* html, body {
  background-image: url(/img/background-pizza.jpg);
} */